<!--

<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <p>사용자로부터 서버에 전달할 값을 입력 받기 위한 태그</p>
    </div>
    <div>
        텍스트 입력 태그: <input type="text">
    </div>
    <div>
        패스워드 입력 태그 : <input type="password">
    </div>
    <div>
        날짜 입력 태그 : <input type="date">             웹 브라우저에 따라 형태가 다름
    </div>
    <div>
        체크박스 태그 : <input type="checkbox" name="chk_a"><input type="checkbox" name="chk_a">           다중선택 가능.동일한 이름에 대하여 여러개 선택 가능
    </div>
    <div>
        라디오 버튼 태그 : <input type="radio" name=rdo_a><input type="radio" name=rdo_a>            원래는 다중선택 안됨.동일한 이름에 대하여 하나만 선택 가능 
    </div>
    <div>
        버튼 : <input type="button" value="clikc">   속성 안에 값을 넣어주면 버튼 안에 글씨
    <div>
        전송 버튼 : <input type="submit" value="전송">     value안에 다른 이름 설정도 가능
    </div>
</body>
</html>


-->

<!--서버에 저장하기 -->

<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <form action="/sample/input/" method="POST">{% csrf_token %}                           <!--action은 그곳으로 정보를 보내겠다는 의미. template태그 꼭 필요.보안 정책상 form안에는 ...꼭 -->
        <div>
            <p>사용자로부터 서버에 전달할 값을 입력 받기 위한 태그</p>
        </div>
        <div>
            텍스트 입력 태그: <input type="text" name="text">      <!--변수명이 있어야지만 전달 가능-->
        </div>
        <div>
            패스워드 입력 태그 : <input type="password" name="pass">
        </div>
        <div>
            날짜 입력 태그 : <input type="date" name="date">              <!--웹 브라우저에 따라 형태가 다름-->
        </div>
        <div>
            체크박스 태그 : <input type="checkbox" name="chk_a"><input type="checkbox" name="chk_a">           <!--다중선택 가능.동일한 이름에 대하여 여러개 선택 가능-->
        </div>
        <div>
            라디오 버튼 태그 : <input type="radio" name=rdo_a><input type="radio" name=rdo_a>            <!--원래는 다중선택 안됨.동일한 이름에 대하여 하나만 선택 가능 -->
        </div>
        <div>
            버튼 : <input type="button" value="click">   <!--속성 안에 값을 넣어주면 버튼 안에 글씨-->
        </div>
        <div>
            전송 버튼 : <input type="submit" value="전송">     <!--value안에 다른 이름 설정도 가능-->
        </div>

    </form>
</body>
</html>
